body {
  margin: 5%
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

form {
  font-size: 1.5em;
}

form * {
  margin: 10px;
}

* {
  color: #555;
  text-align: center;
}

p {
  font-size: 1.7em;
}

a {
  font-size: 1.5em;
}

a:hover {
  text-decoration: none;
}

body {
  font-family: Helvetica, sans-serif, sans-serif;
  background-color: white;
}

.fixture-type-form {
  width: 100%
}

.part-number {
  color: grey;
}

.channeltbl {
  width: 100%;
}

.channeltbl-header {
  background-color: lightgrey;
  height: 5vh;
}

.channeltbl-header-cell {
  border: 1px solid grey;
  text-align: center;
}

.channeltbl-body {
  width: 30%;
  height: 4vh;
  border: 1px solid grey;
}

.channeltbl-body-input {
  width: 100%;
  height: 100%;
}

.channeltbl-btn {
  display: flex;
  justify-content: flex-end;
}

.channeltbl-add-btn {
  margin: 1%;
  padding: 1%;
  background-color: grey;
  border: none;
  color: white;
  border-radius: 5px;
}

.fixtype-optional {
  color: grey;
}

.fixtype-container {
  width: 98%;
  height: 100%;
  padding: 3%;
  background-color: #eee;
  border-radius: 5px;
  margin: 1%;
}